* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    color: black ;
}

/*REGOLE GENERALI DI MENU'*/

header {
    width: 100%;
    position: fixed;

    /*debug*/
    background-color: bisque;
}

#menu-fisso {
    height: 70px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
}

#menu-fisso nav {
    width: 100vw;
    display: flex;
    margin: 10px;
    font-size: 14px;
}

.menu {
    width: calc(100% / 2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.menu.destra {
    justify-content: flex-end;
}

/*ELEMENTI DEL MENU'*/

#logo-nav {
    width: 100px;
}

#logo-nav img {
    width: 100%;   
}

a {
    text-decoration: none;  
}

.bottone {
    text-align: end;
    padding: 5px 12px;
    background-color: #0061ff ;
    color: whitesmoke;
    border-style: none;
    cursor: pointer;
}

/*JUMBO*/

#jumbo {
    width: 100%;
    height: 100vh;
}

#sfondo-jumbo {
    background-color:#b4d0e7;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
}

#contenuto-jumbo {
    width: 65vw;
    display: flex;
    flex-wrap: wrap
}

#contenuto-jumbo h1 {
    font-size: 65px;
    font-weight: bold;
}

.intro {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.intro-sinistro {
    width: 35%;
} 

.intro-sinistro .bottone, .intro-sinistro p {
    margin-bottom: 25px;
} 

.intro-sinistro p {
    font-size: 14px;
}

.fa-arrow-down  {
    font-size: 30px;
    margin-top: 35px;
}

.immagine-jumbo {
    width: 65% ;
}

.immagine-jumbo img {
    width: 100%;
}

/*PIANO BUSINESS*/

#container-piani {
    width: 100% ;
    display: flex;
    justify-content: center;
}

.piano-business {
    width: 65vw;
}

.piano-business h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

.piano-business h2 {
    font-size: 35px;
}

.piano-business input, .piano-business h2 {
    margin-bottom: 40px;
}

.mensile-annuale {
    margin-right: 40px;
}

#opzioni-piani {
    width: 100%;
    display: flex;
    /*DEBUG*/
    height: 1000px;
    background-color: blanchedalmond;
    justify-content: space-between;
}

#opzioni-piani .tre-alternative {
    width: calc(100% / 3 - 20px);
    border: solid rgb(197, 37, 37) 2px;
    /*DEBUG*/
    background-color: #0061ff;
}

.user {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: solid red 2px;
}